.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.contentLink {
  color: #0275d8;
  text-decoration: none;
}

.contentLink:hover {
  text-decoration: underline;
}